body {
    background-color:gray;
    padding: 10%;
}

.obtener {
    cursor: pointer;
    height: 25px;
    background-color: cornsilk;
    border: none;
    border-radius: 12px;
}

.limpiar {
    cursor: pointer;
    height: 25px;
    background-color: cadetblue;
    border: none;
    border-radius: 12px;
}