body {
    background-color:azure;
    padding: 2%;
}
p{
    background-color: rgba(187, 231, 220, 0.753);
}
.obtener {
    cursor: pointer;
    height: 25px;
    background-color: cornsilk;
    border: none;
    border-radius: 12px;
}

.limpiar {
    cursor: pointer;
    height: 25px;
    background-color:cornsilk;
    border: none;
    border-radius: 12px;
}
